<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    <!--<add name="GEC_DB" connectionString="Data Source=10.92.35.100; Initial Catalog=L2_GEC; User Id=sa; Password=Tamsa01;Persist Security Info=True; Application Name=Instruments"/>-->
    <!--<add name="GEC_DB" connectionString="Data Source=.; Initial Catalog=Prueba; User Id=sa; Password=sqlpassword;Persist Security Info=True; Application Name=Instruments"/>-->
    <add name="GEC_DB" connectionString="Data Source=.; Initial Catalog=Prueba; Integrated Security=true"/>
  </connectionStrings>
  
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <add key="GranalladoraCode" value="Granalladora"/>
    <add key="EnderezadoraCode" value="Enderezadora"/>
    <add key="CNDCode" value="Cnd"/>
    <add key="Forjadora0Code" value="Forjadora0"/>
    <add key="ForjadoraCode" value="Forjadora"/>
    <add key="NormalizadoCode" value="HNormalizado"/>
    <add key="RevenidoCode" value="HRevenido"/>
    <add key="Granalladora2Code" value="Granalladora2"/>
    <add key="Roscadora1Code" value="Roscadora1"/>
    <add key="Roscadora2Code" value="Roscadora2"/>
    <add key="Embalado1Code" value="EMBAL1"/>
    <add key="Roscadora3Code" value="ROSC3"/>
    <add key="Roscadora4Code" value="ROSC4"/>
    <add key="Embalado2Code" value="EMBAL2"/>
	<add key="InyectoraCode" value="Inyectora"/>
	<add key="RoscadoraCoplesCode" value="MEDVDI"/>
	<add key="FosfatizadoCoplesCode" value="SalidaFosfatizado"/>
	<add key="MarcadoCoplesCode" value="MarcadoCoples"/>

    <add key="SP_qryToolTypes" value="[Toolset].[qryToolTypes]"/>
    <add key="SP_insToolType" value="Toolset.insToolType"/>
    <add key="SP_delToolType" value="Toolset.delToolType"/>
    <add key="SP_qryTools" value="Toolset.qryTools"/>
    <add key="SP_insTool" value="Toolset.insTool"/>
    <add key="SP_delTool" value="Toolset.delTool"/>
    <add key="SP_updTool" value="Toolset.updTool"/>
    <add key="SP_qryToolsByMachineCode" value="Toolset.qryToolsByMachineCode"/>
    <add key="SP_qryAvailableTools" value="Toolset.qryAvailableTools"/>
    <add key="SP_insMachineTool" value="Toolset.InsMachineTool"/>
    <add key="SP_delMachineTool" value="Toolset.DelMachineTool"/>
    <add key="SP_qryUserPrivileges" value="Toolset.qryUserPrivileges"/>
    <add key="SP_insLog" value="Toolset.insLog"/>	
    <add key="SP_shaMachineTool" value="[Toolset].[ShareMachineTool]"/>
	  
	 <!--Procedures para Insturmentos Deshabilitados-->
	  <add key="SP_GetDeactivatedTools" value="[Toolset].[qryToolsDeactivated]"/>
	  <add key="SP_ActivateTool" value="[Toolset].[ActivateTool]"/>
	  <add key="SP_GetToolKit" value="[Toolset].[GetToolsFromToolkits]"/>
	  <add key="SP_GetToolKitCodes" value="[Toolset].[GetToolKitCodes]"/>
	  <add key="SP_InsToolKitCode" value="[Toolset].[InsToolKitCode]"/>
	  <add key="SP_InsToolKit" value="[Toolset].[InsToolkit]"/>
  </appSettings>
    
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>

    <customErrors mode="Off">
    </customErrors>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
