


.Danger {
    color: RGB(139,0,0);
}

.Warning {
    color: RGB(177,150,53);
}

.Margincutsom{
    margin-top= 100 rem;
}

.textboxCustom {
    background-color:transparent
}

.textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.txtbox {
    border-color: transparent;
    display:none
}

.txtbox123 {
    display:none
}



.colorbase {
    background-color:white;
}


.MarginCustomLabel{
    margin-bottom:10px;
}



.customFont {
    font-size:11pt;
}